{% extends "AppBundle::layout_backend.html.twig" %}

{% block headercontent %}
    <br>
{% endblock %}

{% block content %}    
    
    
    
    <div class="box">
        <div class="box-header">
        
    
        </div>
       
        <div class="box-body">            
       
         
       
            <div id="background">
                
                <div class="row">    
                        <div class="col-lg-12 col-md-12 col-xs-12">
                     
			<div id="Rectangle"><img src="{{asset('images/Rectangle.png')}}"></div>
			<div id="Rectangle_0"><img src="{{asset('images/Rectangle_0.png')}}"></div>
			<div id="Community"><img src="{{asset('images/Community.png')}}"></div>
			<div id="fromtheBLOG"><img src="{{asset('images/fromtheBLOG.png')}}"></div>
			<div id="Company"><img src="{{asset('images/Company.png')}}"></div>
			<div id="Path"><img src="{{asset('images/Path.png')}}"></div>
			<div id="CompositePath"><img src="{{asset('images/CompositePath.png')}}"></div>
			<div id="Path_0"><img src="{{asset('images/Path_0.png')}}"></div>
			<div id="CompositePath_0"><img src="{{asset('images/CompositePath_0.png')}}"></div>
			<div id="MODUS"><img src="{{asset('images/MODUS.png')}}"></div>
			<div id="Loremipsumdolorsi"><img src="{{asset('images/Loremipsumdolorsi.png')}}"></div>
			<div id="Phone"><img src="{{asset('images/Phone.png')}}"></div>
			<div id="email"><img src="{{asset('images/email.png')}}"></div>
			<div id="layer_18225695896"><img src="{{asset('images/layer_18225695896.png')}}"></div>
			<div id="infomoduversus"><img src="{{asset('images/infomoduversus.png')}}"></div>
			<div id="BlogForumSupportN"><img src="{{asset('images/BlogForumSupportN.png')}}"></div>
			<div id="AboutFAQContactTe"><img src="{{asset('images/AboutFAQContactTe.png')}}"></div>
			<div id="layer_19"><img src="{{asset('images/layer_19.png')}}"></div>
			<div id="layer_20"><img src="{{asset('images/layer_20.png')}}"></div>
			<div id="layer_21"><img src="{{asset('images/layer_21.png')}}"></div>
			<div id="layer_22"><img src="{{asset('images/layer_22.png')}}"></div>
			<div id="layer_23"><img src="{{asset('images/layer_23.png')}}"></div>
			<div id="layer_24"><img src="{{asset('images/layer_24.png')}}"></div>
			<div id="layer_25"><img src="{{asset('images/layer_25.png')}}"></div>
			<div id="layer_26"><img src="{{asset('images/layer_26.png')}}"></div>
			<div id="layer_27"><img src="{{asset('images/layer_27.png')}}"></div>
			<div id="layer_28"><img src="{{asset('images/layer_28.png')}}"></div>
			<div id="versus"><img src="{{asset('images/versus.png')}}"></div>
			<div id="2013ModusVersus"><img src="{{asset('images/2013ModusVersus.png')}}"></div>
			<div id="Path_1"><img src="{{asset('images/Path_1.png')}}"></div>
			<div id="Rectangle_1"><img src="{{asset('images/Rectangle_1.png')}}"></div>
			<div id="Rectangle_2"><img src="{{asset('images/Rectangle_2.png')}}"></div>
			<div id="Loremipsumdolorsi_0"><img src="{{asset('images/Loremipsumdolorsi_0.png')}}"></div>
			<div id="Loremipsumdolorsi_1"><img src="{{asset('images/Loremipsumdolorsi_1.png')}}"></div>
			<div id="26May2013"><img src="{{asset('images/26May2013.png')}}"></div>
			<div id="26May2013_0"><img src="{{asset('images/26May2013_0.png')}}"></div>
			<div id="layer_38"><img src="{{asset('images/layer_38.png')}}"></div>
			<div id="layer_39"><img src="{{asset('images/layer_39.png')}}"></div>
                
                       </div> 
                 </div>       
                  
                        
			<div id="PORTFOLIOcopy"><img src="{{asset('images/PORTFOLIOcopy.png')}}">
		</div>
                      
                           {{ form_start(form) }}
     
                    
              <div id="cuerpo">
                     <div class="row">    
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                 {{form_label(form.name, 'Name')}}
                                 {{form_widget(form.name, {'attr':{'class':'form-control'}})}}
                                 {{form_errors(form.name)}}
                            </div>
                        </div>
                     </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                {{form_label(form.e_mail,'Email')}}
                                {{form_widget(form.e_mail, {'attr':{'class':'form-control'} })}}
                                {{form_errors(form.e_mail)}}
                            </div>
                        </div>
                     </div>
                    
                    <div class="row">        
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="form-group">
                        {{form_label(form.website,'Web Site')}}
                        {{form_widget(form.website, {'attr':{'class':'form-control'} })}}
                        {{form_errors(form.website)}}
                    </div>
                </div>
                </div>
                    
                    
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="form-group">
                        {{form_label(form.mensaje,'Message')}}
                        {{form_widget(form.mensaje, {'attr':{'class':'form-control'} })}}
                        {{form_errors(form.mensaje)}}
                    </div>
                </div>
            </div>                    
                    
            
                    
            {{form_errors(form)}}
            {{form_rest(form)}}
            {{form_end(form)   }}
                      
                      
           </div>
			<div id="layer_52"><img src="{{asset('images/layer_52.png')}}"></div>
			<div id="layer_53"><img src="{{asset('images/layer_53.png')}}"></div>




			<div id="Utinterdumtristiquee">Barquisimeto. Edo Lara. Venezuela
                        
                        </div>
			<div id="layer_11156985698"><img src="{{asset('images/layer_11156985698.png')}}"></div>
			<div id="layer_56"><img src="{{asset('images/layer_56.png')}}"></div>
			<div id="modusversuscom"><img src="{{asset('images/modusversuscom.png')}}"></div>
			<div id="Rectangle_3"><img src="{{asset('images/Rectangle_3.png')}}"></div>
			<div id="Uteleifendliberos"><img src="{{asset('images/Uteleifendliberos.png')}}"></div>
			<div id="Path_4"><img src="{{asset('images/Path_4.png')}}"></div>
			<div id="Path_5"><img src="{{asset('images/Path_5.png')}}"></div>
			
                        
                        <div id="map">
                            
                            <div id="map" style="width:100%;height:500px"></div>

                        <script>
                            function myMap() {
                            var mapCanvas = document.getElementById("map");
                            var mapOptions = {
                            center: new google.maps.LatLng(51.5, -0.2),
                            zoom: 10
                                            }
                            var map = new google.maps.Map(mapCanvas, mapOptions);
                            }
                            </script>

                        
                        
                        
                        
                        </div>
			<div id="Rectangle_4"><img src="{{asset('images/Rectangle_4.png')}}"></div>
			<div id="Path_6"><img src="{{asset('images/Path_6.png')}}"></div>
			<div id="PORTFOLIO"><img src="{{asset('images/PORTFOLIO.png')}}"></div>
			<div id="HomePodtfolio"><img src="{{asset('images/HomePodtfolio.png')}}"></div>
			<div id="Rectangle_5"><img src="{{asset('images/Rectangle_5.png')}}"></div>
			
			<div id="Path_8"><img src="{{asset('images/Path_8.png')}}"></div>
			<div id="Path_9"><img src="{{asset('images/Path_9.png')}}"></div>
			<div id="HOME"><img src="{{asset('images/HOME.png')}}"></div>
			<div id="PORTFOLIO_0"><img src="{{asset('images/PORTFOLIO_0.png')}}"></div>
			<div id="layer_73"><img src="{{asset('images/layer_73.png')}}"></div>
			<div id="BLOG"><img src="{{asset('images/BLOG.png')}}"></div>
			<div id="FEATURES"><img src="{{asset('images/FEATURES.png')}}"></div>
			<div id="ABOUT"><img src="{{asset('images/ABOUT.png')}}"></div>
			<div id="SERVICES"><img src="{{asset('images/SERVICES.png')}}"></div>
			<div id="CONTACTS"><img src="{{asset('images/CONTACTS.png')}}"></div>
			<div id="layer_79"><img src="{{asset('images/layer_79.png')}}"></div>
			<div id="MODUS_0"><img src="{{asset('images/MODUS_0.png')}}"></div>
			<div id="versus_0"><img src="{{asset('images/versus_0.png')}}"></div>
			
		</div>
   
        
        
        
        
        
        
        
        
        
        
        
        
        </div>        
    </div>
                    
         <link rel="stylesheet" href="{{asset('css/styles.css')}}">
           <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
         
                    
{% endblock %}